* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(236, 231, 231);
}

.container {
  width: 75vh;
  min-height: 85vh;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  padding: 20px 0px 20px 20px;
  box-shadow: 5px 10px 10px #adadad;
  max-height: 70vh;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.books-container {
  overflow-y: auto;
  max-height: 75vh;
  padding: 10px;
}


.book {
  display: flex;
  margin-top: 15px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.book-title {
  display: inline;
  font-weight: bold;
  font-size: 1.2rem ;
  display: inline-block;
}

.book-author {
  font-size: 1rem;
  margin-top: 2px;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons button { font-size: 0.9rem;}

.delete-btn {
  background-color: red;
  color: white;
  padding: 3px;
}

.edit-btn {
  background-color: orange;
  padding: 3px;
}
